<footer class="bg-purple text-white">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-sm mt-3 mb-3">
        <img width="60" src="../assets/images/footer.png" alt="footer" />
      </div>
      <div class="col-sm mt-60 footer-text-sm">
        Sistema desenvolvido por:
        <a href="https://github.com/camilaesouza">Camila Souza</a>
      </div>
      <div class="col-sm mt-60 mb-4 footer-text-sm">
        © 2023 Copyright Cooking mama recipes
      </div>
    </div>
  </div>
</footer>
