<div class="m-5">
  <div class="card">
    <div class="card-body margin-list-recipes">
      <div class="row col-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-search"></i>
            </span>
          </div>
          <input
            query=""
            type="text"
            class="form-control"
            placeholder="Digite o nome da receita para buscar!"
          />
        </div>

        aaaaa{{ this.query }}
      </div>

      <div class="d-flex">
        <div class="card w-300">
          <img
            class="card-img-top"
            src="../../assets/images/card-image.jpg"
            alt="recipe"
          />
          <div class="card-body">
            <h5 class="card-title">{{ this.recipes[0].name }}</h5>
            <p class="card-text">{{ this.recipes[0].description }}</p>

            <a
              [routerLink]="['/receitas', this.recipes[0].id]"
              class="btn btn-gray btn-sm text-white"
              ><i class="bi bi-eye"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
