<div class="m-5">
  <div class="card container">
    <div class="card-body margin-list-recipes">
      <app-search (queryChange)="onSearchRecipes($event)"></app-search>

      <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let recipe of this.recipes" class="card w-300 mr-20 mb-4">
          <img
            class="card-img-top"
            src="assets/images/card-image.jpg"
            alt="recipe"
          />
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name | titlecase }}</h5>
            <p class="card-text">{{ recipe.description }}</p>

            <a
              [routerLink]="['/receitas', recipe.id]"
              class="btn btn-gray btn-sm text-white"
              ><i class="bi bi-eye"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        *ngIf="this.recipes && this.recipes.length == 0"
        class="d-flex justify-content-center mt-3"
      >
        Nenhuma receita encontrada
      </div>
    </div>
  </div>
</div>
