<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de receitas</title>
  </head>
  <body>
    <main>
      <header>
        <nav class="navbar navbar-expand-lg bg-purple">
          <div class="container-fluid padding-navbar">
            <a class="navbar-brand" href="#">
              <img width="100" src="../assets/images/logo-escrita.png" alt="logo"/>
            </a>
          </div>
        </nav>
      </header>
    </main>
  </body>

  <footer class="mt-5 bg-purple text-white">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="col-sm mt-3 mb-3">
          <img width="60" src="../assets/images/footer.png" alt="footer" />
        </div>
        <div class="col-sm mt-60 footer-text-sm">
          Sistema desenvolvido por:
          <a href="https://github.com/camilaesouza">Camila Souza</a>
        </div>
        <div class="col-sm mt-60 mb-4 footer-text-sm">
          © 2023 Copyright Cooking mama recipes
        </div>
      </div>
    </div>
  </footer>
</html>
