/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.btn-purple {
  background-color: #AE003F;
  color: white;
}

.btn-purple:hover{
  background-color: #850533;
  color: white;
}

.bg-purple {
  background-color: #AE003F;
}
